<section data-ng-controller="HomeController">
	<h1>Welcome to Extrovert!</h1>
	<p>
		Hello and welcome. I am Samuel Trangmar-Keates, better known online as Kuiche and this is my <strike>glorius</strike> currently bland homepage.
	</p>
	<p>
		I'm a Software Dev currently working as a Web Developer in Brighton. In my spare time I have  ton of side projects which I will slowly be polishing and putting up here and <a href="//github.com/kuiche">GitHub</a> for y'all.
	</p>
	<p>
		This entire website is a work in progress and alway will be so check back regularly!
	</p>
</section>
